<template>
  <footer
    class="flex w-full bg-black items-center justify-center py-8 text-white flex-col mt-auto"
  >
    <span>Copyright © 2023-2024 Immanuel-Kant-Gymnasium Pirmasens</span>
    <p>
      <NuxtLink to="/impressum">Impressum</NuxtLink> -
      <NuxtLink to="/datenschutz">Datenschutzerklärung</NuxtLink>
    </p>
    <span
      >Built with ❤️ by the 🧑‍💻 <a href="https://waldbaur.solutions" class="underline">Waldbaur</a>.</span
    >
  </footer>
</template>
