<template>
  <div
    class="relative overflow-hidden flex flex-col items-center text-white w-screen"
    :class="{
      'bg-cover': backgroundType === 'img',
      'min-h-[90vh]': isLarge,
      'min-h-[50vh] p-4': !isLarge,
    }"
    :style="backgroundType === 'img' ? {
      'background-image':
        'url(' + background + ')',
    } : ''"
  >
    <video
      v-if="backgroundType === 'video'"
      autoplay
      muted
      loop
      class="min-h-full min-w-full absolute object-cover video z-[-1]"
    >
      <source :src="background" type="video/mp4" />
    </video>
    <a href="/" class="flex flex-col items-center">
      <img
        src="~/assets/logo-shadow.svg"
        class="drop-shadow-2xl"
        :class="{
          'h-68 lg:h-96 mt-4 lg:mt-24': isLarge,
          'h-52': !isLarge,
        }"
      />
      <h1 class="font-bold font-serif" :class="{
        'text-6xl mt-6': !isLarge,
        'text-8xl mt-12': isLarge,
      }">IKGP</h1></a
    >
    <nav
      class="flex items-center justify-evenly flex-col gap-y-4 lg:flex-row font-serif text-center w-2/3 mt-auto text-3xl drop-shadow-2xl"
      :class="{
        'mb-8': !isLarge,
        'mb-16': isLarge,
      }"
    >
      <a href="/wir" class="flex items-center justify-center flex-col flex-1">
        <b>Wir</b>
        <span class="mt-auto">[Unsere Schule]</span>
      </a>
      <a href="/jetzt" class="flex items-center justify-center flex-col flex-1">
        <b>Jetzt</b>
        <span class="mt-auto">[Aktuelles/<wbr />Veranstaltungen]</span>
      </a>
      <a href="/hier" class="flex items-center justify-center flex-col flex-1">
        <b>Hier</b>
        <span class="mt-auto">[Kontakt]</span>
      </a>
    </nav>
  </div>
</template>

<script lang="ts" setup>
const props = defineProps({
  backgroundType: {
    type: String as PropType<"img" | "video">,
    required: false,
    default: "img",
  },
  background: {
    type: String,
    required: true,
  },
  isLarge: {
    type: Boolean,
    required: false,
    default: true,
  },
});
</script>

<style scoped>
.video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
