<template>
  <div class="text-center flex flex-col items-center justify-center py-16 mb-8">
    <h1 class="text-5xl font-serif font-bold">Seite nicht gefunden</h1>
    <div class="text-2xl font-lite flex gap-8 flex-col px-8">
      <p class="mt-12">
        Jede Seite, jeder Link ist einzigartig. Diese Einzigartigkeit zu
        respektieren und zu fördern, steht im Mittelpunkt unseres Handelns.
      </p>
      <p class="font-bold">
        Diesen einzigartigen Link gibt es aber leider nicht.
      </p>
    </div>
  </div>
</template>
