<template>
  <Header
    :background-type="data?.header.type || 'video'"
    :background="data?.header.src || '/hintergrund.webm'"
    :is-large="false"
  />
  <div class="py-16 px-8">
    <ContentDoc>
      <template #not-found>
        <Page404 />
      </template>
    </ContentDoc>
  </div>
</template>

<script setup lang="ts">
const { path } = useRoute();

const { data } = await useAsyncData("content", () => {
  return queryContent(path).findOne();
});
</script>

