<template>
  <Header background-type="video" background="/hintergrund.webm" />
  <div class="bg-stone-800 text-white text-center py-12">
    <h1 class="text-5xl font-serif font-bold">
      Das Immanuel-Kant-Gymnasium – mehr als nur „Schule“
    </h1>
    <div class="text-2xl font-lite flex gap-8 flex-col px-8">
      <p class="mt-12">
        Jedes Kind, jeder Jugendliche ist einzigartig. Diese Einzigartigkeit zu
        respektieren und zu fördern, steht im Mittelpunkt unseres Handelns.
      </p>
      <p>
        In unserer kleinen und überschaubaren Schule legen wir besonderen Wert
        auf Toleranz, gegenseitige Achtung und Respekt im Umgang miteinander.
      </p>
      <p>
        Unser Ziel ist es, attraktive und motivierende Rahmenbedingungen zu
        schaffen, in denen unsere Schülerinnen und Schüler gerne lernen.
      </p>
      <p>
        Wir möchten, dass sie ihre Begabungen und Fähigkeiten entdecken, ihre
        Persönlichkeit individuell entwickeln und einen qualifizierten
        Schulabschluss erreichen, mit dem sie den Anforderungen von Studium und
        Berufswelt gewachsen sind, um im Leben eins zu werden: glücklich.
      </p>
    </div>
  </div>
</template>
